@import "tailwindcss";
html, body {
    width: 100vw;
    min-width: 0;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

@keyframes slow-pan {
    0% {
        background-position: 0% 50%;
        transform: scale(1.05);
    }
    50% {
        background-position: 100% 50%;
        transform: scale(1.1);
    }
    100% {
        background-position: 0% 50%;
        transform: scale(1.05);
    }

}

@keyframes slow-pan-reverse {
    0% {
        background-position: 100% 50%;
        transform: scale(1.1);
    }
    50% {
        background-position: 0% 50%;
        transform: scale(1.12);
    }
    100% {
        background-position: 100% 50%;
        transform: scale(1.1);
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animate-slow-pan {
    animation: slow-pan 45s linear infinite;
}

.animate-slow-pan-reverse {
    animation: slow-pan-reverse 60s linear infinite;
}

.animate-fade-in-out {
    animation: fade-in-out 12s ease-in-out infinite;
}
